##Knowlegde Check - 2

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [2]:
def smallest_of_two_evens(a,b):
    if(a%2==0 and b%2==0):
        return min(a,b)
    else:
        return max(a,b)

In [3]:
# Check1
smallest_of_two_evens(2,4)

2

In [4]:
# Check2
smallest_of_two_evens(2,5)

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [5]:
def word_crackers(word1,word2):
    if(word1[0]==word2[0]):
        return True
    else:
        return False

In [7]:
# Check1
word_crackers('Lion', 'Lady')

True

In [8]:
# Check2
word_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [9]:
def sum_twenty(n1,n2):
    if(n1==20 or n2==20 or n1+n2==20):
        return True
    else:
        return False

In [10]:
# Check1
sum_twenty(20,10)

True

In [11]:
# Check2
sum_twenty(2,3)

False

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [12]:
def cap_first_four(name):
  print(name[0].upper()+name[1:3]+name[3].upper()+name[4:])

In [13]:
# Check
cap_first_four('macdonald')

MacDonald

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [14]:
def rev_words(text):
    print(" ".join(text.split()[::-1]))

In [15]:
# Check1
rev_words('I am home')

home am I

In [16]:
# Check2
rev_words('We are ready')

ready are We

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [17]:
def nearest_num(n):
    if(abs(100-n)<=10 or abs(200-n)<=10):
        return True
    else:
        return False

In [18]:
# Check1
nearest_num(104)

True

In [19]:
# Check2
nearest_num(150)

False

In [20]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [22]:
def contains_two_samevalues(nums):
    if (len(nums)>1):
        for i in range(len(nums)-1):
            if(nums[i]==nums[i+1]):
                return True
        return False
    else:
        return False

In [23]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [24]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [25]:
# Check3
contains_two_samevalues([3, 1, 3])

False

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [27]:
def repeat_three(text):
    if(len(text)>0):
        print("".join([i*3 for i in text]))

In [28]:
# Check1
repeat_three('Hello')

HHHeeellllllooo

In [29]:
# Check2
repeat_three('Mississippi')

MMMiiissssssiiissssssiiippppppiii

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [36]:
def count_primes(n):
    if n < 2:
        return 0

    # Create a boolean array "is_prime[0..n]" and initialize all entries as true.
    is_prime = [True] * (n + 1)
    is_prime[0] = is_prime[1] = False  # 0 and 1 are not prime

    p = 2
    while p * p <= n:
        if is_prime[p]:
            for i in range(p * p, n + 1, p):
                is_prime[i] = False
        p += 1

    # Count the number of primes
    return sum(is_prime)

In [35]:
# Check1
count_primes(100)

25