##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [ ]:
print("Name : Angela")
print("City : New York")

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [ ]:
print("Emergency Alert")
print("NEWS : FLASH FLOOD WARNING this area till 7:00 PM")

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [3]:
input = 2000
output1 = input/2
output2 = output1/2
output3 = output2/2
print(input)
print(output1, output2, output3)

2000
1000.0 500.0 250.0

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [5]:
x = 2
y = 3
z = 4
print("x = ", x)
print("y = ", y)
print("z = ", z)
print(x**z)
print(x**y)
print(x-y)
print(x%z)

x =  2
y =  3
z =  4
16
8
-1
2

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.05) and 1 cent
        Output:  the total amount as dollars and cents.

In [8]:
quarter = 0.25 *4
dime = 0.10 *3
nickel = 0.05 *2
cent = 0.01 *1
sum = quarter + dime + nickel + cent
print(sum)

1.4100000000000001

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [10]:
name = "Python"
print(name[4])

o

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [11]:
name = "Python"
print(name[2:5])

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [13]:
name = "Python Class"
print(name[7:])

Class

9 - Find the length of the String  **Welcome to Pace University**

In [14]:
name = "Welcome to Pace University"
print(len(name))

26

10 - Split the String  **Welcome to Pace University**  into words

In [15]:
name = "Welcome to Pace University"
print(name.split())

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [16]:
name = "Artificial intelligence"
print(name.replace("i", "o"))

Artofocoal ontellogence

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [18]:
name = "DATA Science"
print(name.lower())

data science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [19]:
name = "DATA Science"
print(name.upper())

DATA SCIENCE

14 - reverse the given String  **Artificial intelligence**

In [20]:
name = "Artificial intelligence"
print(name[::-1])

ecnegilletni laicifitrA

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [24]:
a = 150
b = 225
if(a == b):
  print("a is equal to b")
if(a > b):
  print("a is greater than b")
if(a >= b):
  print("a is greater than or equal to b")

if(a < b):
  print("a is less than b")
if(a <= b):
  print("a is less than or equal to b")
if(a != b):
  print("a is not equal to b")

a is less than b
a is less than or equal to b
a is not equal to b

###Lists

16 - Create a **list** of **lists** of integers elements

In [25]:
list = [[1,2,3], [4,5,6], [7,8,9]]
print(list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

17 - Create a **list** of **lists** of Text elements

In [26]:
list = [["a", "b", "c"], ["d", "e", "f"], ["g", "h", "i"]]
print(list)

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]